:root {
  --width: 720px;
  --font-main: 'Roboto Mono', monospace;
  --font-secondary: 'Roboto Mono', monospace;
  --font-scale: .9em;
  
  --color-main: #9625ff;
  --color-selected-text: #fff;
  --color-mid-grey: #999;

  --color-callout-info: #629cdf;
  --color-callout-tip: #27c7c4;
  --color-callout-question: #3db36e;
  --color-callout-example: #9379e0;
  --color-callout-warning: #eb7d17;
  --color-callout-bug: #e23140;

  
}

/* Light mode colors */
@media not (prefers-color-scheme: dark) {
  :root{
    --color-heading: #232333;
    --color-background: #fafafa;
    --color-text: #232333;
    --color-visited: #232333;
    --color-link: #232333;
    --color-big-border: #232333;
  
    --color-code-background: #e4e4e4;
    --color-code: #161616;
    --color-blockquote: #222;
  }
}

/* Dark mode colors */
@media(prefers-color-scheme: dark) {
  :root{
    --color-heading: #fff;
    --color-background: #333;
    --color-text: #ddd;
    --color-visited: #ddd;
    --color-link: #ddd;
    --color-big-border: #888;
  
    --color-code-background: #444444;
    --color-code: #ddd;
    --color-blockquote: #ccc;
  }
}

/* Desktop */
@media (min-width: 800px) {
  nav a:first-child {
    margin-right: 8px;
  }
  
  nav a:not(:first-child) {
    margin-right: 8px;
    margin-left: 8px;
  }
}

/* Mobile & Tablets */
@media not (min-width: 800px) {
  nav a {
    display: block;
    inline-size: fit-content;
  }

  nav a:first-child {
    margin-bottom: 8px;
  }
  
  nav a:not(:first-child) {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}


body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--color-background);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--color-text);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-main);
  color: var(--color-heading);
}

a {
  color: var(--color-link);
  font-family: var(--font-main);
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid var(--color-main);
}

a:hover {
  background-color: var(--color-main);
  color: var(--color-selected-text);
  text-decoration: none;
}

sup a{
  border-bottom: none;
  color: var(--color-main);
  font-weight: bold;
}

header {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 3px dotted var(--color-big-border);
}

strong,b {
  color: var(--color-heading);
}

button {
  margin: 0;
  cursor: pointer;
}

main {
  line-height: 1.6;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

.highlight{
  margin: 8px 0px;
  border: 5px solid var(--color-code-background);
  border-radius: 3px;

  pre{
    margin: 0px;
    padding: 8px 5px;
  }
}

code:not(code[data-lang]) {
  font-family: monospace;
  padding: 2px;
  border-radius: 3px;
  background-color: var(--color-code-background);
  color: var(--color-code);
}

blockquote {
  border-left: 1px solid var(--color-mid-grey);
  color: var(--color-blockquote);
  padding-left: 20px;
  font-style: italic;
}

footer {
  margin-top: 40px;
  border-top: 3px dotted var(--color-big-border);
  padding: 25px 0;
  text-align: center;
}

.title:hover {
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
}

.inline {
  width: auto!important;
}

ul.posts {
  list-style-type: none;
  padding: unset;
}

ul.posts li {
  display: flex;
  margin-bottom: 10px;
}

i time {
  font-style: normal;
  opacity: .7;
}

ul.posts li span {
  flex: 0 0 130px;
}

ul.posts li a:visited {
  color: var(--color-visited);
}

div.tags {
  margin-top: 2em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,td {
  padding: 6px 13px;
  border: 1px solid var(--color-mid-grey);
  font-size: 1em;
}

div.term-filter {
  margin-top: -20px;
  margin-bottom: 20px;
}

/* Image in Posts */
div.img-post{
  label.img-post-small img{
    margin: 8px 0px;
    border: 5px solid var(--color-code-background);
    border-radius: 3px;
    max-width: 99%;
    cursor: zoom-in;
  }

  label.img-post-large div{
    cursor: zoom-out;

    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
    display: none;
  }

  label.img-post-large div img{
    height: 90%;
    width: 90%;
    object-fit: contain;
  }

  input[type=checkbox]{
    display: none;
  }

  input[type=checkbox]:checked ~ label.img-post-large div{
    display: flex;
  }
}

/* Callouts Types */
div.callout {
  padding: 12px 20px;
  margin: 8px 0px;
  border: 1px solid;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.12);

  h3 {
    margin: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
  }

  svg {
    color: rgba(0,0,0,0);
    padding-right: 10px;
  }
}

/* Use SCSS loop latter */
div.callout-info {
 border-color: var(--color-callout-info);
 h3 {
    color: var(--color-callout-info);
  }
  svg {
    stroke : var(--color-callout-info);
  }
}

div.callout-tip {
  border-color: var(--color-callout-tip);
  h3 {
    color: var(--color-callout-tip);
  }
  svg {
    stroke : var(--color-callout-tip);
  }
}

div.callout-question {
  border-color: var(--color-callout-question);
  h3 {
    color: var(--color-callout-question);
  }
  svg {
    stroke : var(--color-callout-question);
  }
}

div.callout-example {
  border-color: var(--color-callout-example);
  h3 {
    color: var(--color-callout-example);
  }
  svg {
    stroke : var(--color-callout-example);
  }
}

div.callout-warning {
  border-color: var(--color-callout-warning);
  h3 {
    color: var(--color-callout-warning);
  }
  svg {
    stroke : var(--color-callout-warning);
  }
}

div.callout-bug {
  border-color: var(--color-callout-bug);
  h3 {
    color: var(--color-callout-bug);
  }
  svg {
    stroke : var(--color-callout-bug);
  }
}