{{ define "title" }}
  {{- $category := index (split .Data.Plural "/") 0 -}}
  {{- $categoryPath := printf "post/%s" $category -}}
  {{- $categoryPage := .Site.GetPage $categoryPath -}}
  {{- $title := printf "%s - %s/%s" .Site.Title $categoryPage.Title .Title -}}
  {{.Scratch.Set "title" $title}}
{{ end }}

{{ define "main" }}
  {{- $category := index (split .Data.Plural "/") 0 -}}
  {{- $categoryPath := printf "post/%s" $category -}}
  {{- $categoryPage := .Site.GetPage $categoryPath -}}
  <h1>{{ $categoryPage.Title }}</h1>
  <div class="term-filter">
    With tag <code>#{{ .Title }}</code>
    <a href="{{ $categoryPage.RelPermalink }}">✖</a>
  </div>

  {{- partial "posts.html" . -}}
{{ end }}